.main-content{
    position: relative;
    background-color: var(--grey50);
    color: var(--blue500);
    min-height: 82vh;
    display: flex;
    /* flex-direction: row-reverse; */
    padding-top: 7%;
}
.ad_container {
    position: relative;
    z-index: 2;
}

.main-header{
    font-size: 40px;
    padding-bottom: 20px;
    font-size: 50px;
}

.promotion{
    display: inline-flex;
    padding-bottom: 20px;
    font-size: 18px;
}

.promotion-precentage{
    font-weight: 700;
    font-size: 60px;
    padding-right: 35px;
    /* padding-bottom: 10px; */

}

.promotional-apr{
    border-right: 1px solid var(--grey900);
    padding-right: 35px;
}

.variable-period{
    padding-left: 35px;
}

.main-sub-header{
    padding-bottom: 50px;
}

.btns{
    padding-bottom: 20px;
}

.apply-fee{
    /* width: 10%; */
    padding-left: 30px;
}

.terms{
    padding-top: 14%;
    padding-left: -10px;
    color: var(--grey400);
}

.background-img {
    position: absolute;
    max-width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;
    /* background: linear-gradient(rgb(0,0,0,0.9)); */
    background: rgb(240,240,240);
}
.background-img img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.background-img::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, rgba(240,240,240,1) 0%, rgba(240,240,240,0.8) 50%,rgba(240,240,240,0.7) 75%,  rgba(240,240,240,0) 100%); 
}


/* responsive section */

@media only screen and (max-width: 1200px){
    .background-img{
        max-width: 50%;
    }
}

@media only screen and (max-width: 992px) {
    .main-header{
        font-size: 32px;
    }
    .ad_container{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        text-align: center;
    }
    .promotion{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .promotion-precentage, .promotional-apr, .variable-period{
        padding: 0;
    }
    .promotional-apr{
        border-right: 0;
        margin-top: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid var(--grey900);
    }
    .variable-period{
        margin-top: 20px;
    }
    .main-sub-header{
        font-size: 15px;
        text-align: center;
        padding-bottom: 20px;
    }
    .terms{
        font-size: 12.5px;
        text-align: left;
    }
    .btns{
        display: flex;
        justify-content: space-evenly;
    }
    .apply-fee{
        padding: 0;
    }
}