
.footer{
    background-color: var(--grey900);
    padding-bottom: 30px;
    color: var(--grey50);
    font-size: 14px;
}

.footer-text{
    padding-top: 20px;
}


@media only screen and (max-width: 280px) {
    .footer{
        font-size: 10px;
    }
}