
/* css color variables */
:root{
    --white: #fff;
    --grey50: #f0f0f0;
    --grey100: #d8d8d8;
    --grey400: #898787;
    --grey700 : #2e2e2e;
    --grey900: #212121;
    --blue500: #24618e;
    --orange: #ff9000;
  }

/* body style */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*  Responsive container  */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
}
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
}
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}
  